<h1>Models#New</h1>

<form action="<%= uri('/models') %>" method="POST">
	<div>
		<label>Name</label>
		<input type="text" name="name" />
	</div>
	<div>
		<label>Category</label>
		<input type="text" name="category" />
	</div>
	<div>
		<input type="submit" />
	</div>
</form>