<h1>Process Definitions#index</h1>

<table>
	<tr>
		<th>getId()</th>
	</tr>
	<% for process_definition in @process_definitions %>
		<tr>
			<td><%= process_definition %></td>
		</tr>
	<% end %>
</table>